In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\\rs_data\\SV1-04_2021.csv")
data = pd.DataFrame({
    "satellite_name" : df.SATELLITEID,
    "sensor_id" : df.SENSORID,
    "scence_id" : df.SCENEID,
    "ac_time" : df.SCENEDATE,
    "resolution" : 0.5,
    "cloud_pre" : df.CLOUDCOVERQUOTE,
    "enBLa" : df.TOPRIGHTLATITUDE,
    "enBLo" : df.TOPRIGHTLONGITUDE,
    "wnBLa" : df.TOPLEFTLATITUDE,
    "wnBLo" : df.TOPRIGHTLONGITUDE,
    "wsBLa" : df.BOTTOMLEFTLATITUDE,
    "wsBLo" : df.BOTTOMLEFTLONGITUDE,
    "esBLa" : df.BOTTOMRIGHTLATITUDE,
    "esBLo" : df.BOTTOMRIGHTLONGITUDE,
    "cBLa" : df.CENTERLATITUDE,
    "cBLo" : df.CENTERLONGITUDE
})
data.head()

,satellite_name,sensor_id,scence_id,ac_time,resolution,cloud_pre,enBLa,enBLo,wnBLa,wnBLo,wsBLa,wsBLo,esBLa,esBLo,cBLa,cBLo
0,GJ1D,PMS,3603203,2021/1/12 5:34,0.5,0,38.3153,84.9806,38.3388,84.9806,38.2145,84.8105,38.1910,84.9455,38.2652,84.8937
1,GJ1D,PMS,3603204,2021/1/12 5:34,0.5,0,38.2030,84.9489,38.2265,84.9489,38.1047,84.7803,38.0813,84.9151,38.1541,84.8625
2,GJ1D,PMS,3603205,2021/1/12 5:34,0.5,0,38.0933,84.9183,38.1167,84.9183,37.9920,84.7484,37.9685,84.8830,38.0430,84.8318
3,GJ1D,PMS,3603053,2021/1/12 4:06,0.5,0,13.7407,102.9720,13.7622,102.9720,13.6407,102.8376,13.6193,102.9472,13.6910,102.9034
4,GJ1D,PMS,3603362,2021/1/11 16:52,0.5,99,42.8569,-82.8423,42.8823,-82.8423,42.7619,-83.0267,42.7365,-82.8812,42.8097,-82.9367

In [4]:
df.CLOUDCOVERQUOTE.describe()

count    401004.000000
mean         28.896427
std          38.520364
min           0.000000
25%           0.000000
50%           1.000000
75%          61.000000
max         100.000000
Name: CLOUDCOVERQUOTE, dtype: float64

In [34]:
from datetime import datetime
def strp_date(s):
    return datetime.strptime(s, "%y/%m/%d %H:%M")

In [36]:
datetime.strptime("2021/1/12 5:34", "%Y/%m/%d %H:%M")

datetime.datetime(2021, 1, 12, 5, 34)

In [7]:
df = pd.read_csv("D:\\rs_data\\GFDM01_2021.csv")

In [8]:
df.cloudcoverquote.describe()

count    179274.000000
mean         15.961617
std          24.697368
min           0.000000
25%           1.000000
50%           5.000000
75%          15.000000
max          99.000000
Name: cloudcoverquote, dtype: float64

In [30]:
pd.DataFrame({
    "satellite_name" : df.satelliteid,
    "sensor_id" : df.sensorid,
    "scence_id" : df.sceneid,
    "ac_time" : df.scenedate,
    "resolution" : 0.5,
    "cloud_pre" : df.cloudcoverquote,
    "enBLa" : df.upperrightlat,
    "enBLo" : df.upperrightlong,
    "wnBLa" : df.upperleftlat,
    "wnBLo" : df.upperleftlong,
    "wsBLa" : df.lowerleftlat,
    "wsBLo" : df.lowerleftlong,
    "esBLa" : df.lowerrightlat,
    "esBLo" : df.lowerrightlong,
    "cBLa" : df.scenecenterlat,
    "cBLo" : df.scenecenterlong
}).head()

,satellite_name,sensor_id,scence_id,ac_time,resolution,cloud_pre,enBLa,enBLo,wnBLa,wnBLo,wsBLa,wsBLo,esBLa,esBLo,cBLa,cBLo
0,GFDM01,PMS,59657,39:57.9,0.5,5,35.6618,139.9380,35.7864,139.6979,35.5643,139.6319,35.4397,139.8714,35.6697,139.8009
1,GFDM01,PMS,59706,40:12.9,0.5,5,35.6982,139.9385,35.8019,139.7133,35.5466,139.6369,35.4428,139.8613,35.6360,139.7908
2,GFDM01,PMS,59703,40:27.0,0.5,5,35.7276,139.9373,35.8140,139.7264,35.5704,139.6533,35.4839,139.8635,35.6521,139.7954
3,GFDM01,PMS,59751,40:42.2,0.5,5,35.7547,139.9361,35.8259,139.7388,35.5723,139.6625,35.5010,139.8593,35.6592,139.7973
4,GFDM01,PMS,59719,40:58.4,0.5,5,35.7769,139.9342,35.8343,139.7494,35.6626,139.6977,35.6053,139.8821,35.7199,139.8155